{{define "header_angular"}}
<html ng-app="viz">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body ng-controller="StackController as ctrl">
    <div class="stack" ng-repeat="stack in stacks">
      [[stack.Name]]
      <div class="resource" ng-repeat="resource in stack.Resources">
      [[resource.LogicalResourceID]] ([[resource.Type]])
      </div>
      <div class="asg" ng-repeat="asg in stack.AutoScalingGroups">
      [[asg.Name]]
        <div class="instance" data-ng-animate="'custom'" ng-repeat="instance in asg.Instances">
          [[instance.InstanceID]] ([[instance.Name]])
        </div>
      </div>
      <div class="instance" ng-repeat="instance in stack.Instances">
        [[instance.InstanceID]] ([[instance.Name]])
      </div>
    </div>
    <script type="text/javascript" src="/assets/angular.min.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
{{end}}
