{{define "stacks"}}
  {{range $stack := .Stacks}}
    <div class="stack">
      {{$stack.Name}}
      {{template "resources" .}}
      {{template "asgs" .}}
      {{template "instances" .}}
    </div>
  {{end}}
{{end}}
